.parallax-window {
  position: relative;
  text-align: center;
  overflow: hidden;
  max-height: 30em;
}

.parallax-window h1 {
  padding: 3em;
  color: $base-font-color;
}

.parallax-background {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png") repeat;
  background-size: cover;
  background-position: top;
  position: absolute;
  width: 100%;
  top: -4em;
  height: 50em;
  left: 0;
}

// http://codepen.io/skeurentjes/
